<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="header">
  <% if user_signed_in? %>
    <ul>
      <li><%= link_to('Map', '/') %></li>
      <li><%= link_to('My Documents', '/my_documents') %></li>
      <li><%= link_to('Add Document', '/add_document') %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to('Login', new_user_session_path)  %></li>
    </ul>
  <% end %>
</div>
<br>
<%= yield %>
</body>
</html>
